<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %>></title>
  </head>
  <body
    style="
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      overflow-x: hidden;
    "
  >
    <h1>You're not authorized to access this content</h1>
    <a href="/log-in">Log In</a>
    <a href="/">Back Home</a>
  </body>
</html>
